My workflow 6 (1).json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fff541c3-d6e0-46ed-861a-ffc3f0891528",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        48
      ],
      "id": "0ba4e952-a700-47e0-a228-8d022232324f",
      "name": "Webhook",
      "webhookId": "fff541c3-d6e0-46ed-861a-ffc3f0891528"
    },
    {
      "parameters": {
        "fromEmail": "automat@rajkonkret.pl",
        "toEmail": "rajkonkret660@gmail.com",
        "subject": "=Dane z formularza {{ $json.body.data.formName }}",
        "html": "=Dane użytkownika:<br>\n{{ $json.body.data.fields[0].label }}<br>\n{{ $json.body.data.fields[0].value }}<br>\n<br>\n{{ $json.body.data.fields[1].label }}<br>\n{{ $json.body.data.fields[1].value }}<br>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -400,
        48
      ],
      "id": "ebf2ae38-6d4d-4f8c-8a09-65fafca3b5fc",
      "name": "Send email",
      "webhookId": "89ddbed1-7909-47d9-a59c-1afa1acb1071",
      "credentials": {
        "smtp": {
          "id": "rYUOpkUcA3G0lXue",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appsJtT8Rk1JeZDFV",
          "mode": "list",
          "cachedResultName": "airtable_users.xlsx",
          "cachedResultUrl": "https://airtable.com/appsJtT8Rk1JeZDFV"
        },
        "table": {
          "__rl": true,
          "value": "tbljbaFIUmhFdoUwB",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appsJtT8Rk1JeZDFV/tbljbaFIUmhFdoUwB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last Name": "={{ $('Webhook').item.json.body.data.fields[1].value }}",
            "First Name": "={{ $('Webhook').item.json.body.data.fields[0].value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -160,
        -32
      ],
      "id": "3abd516b-4411-44fa-94e4-4106993f03a5",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "HL3KTSBIRUjAvYFm",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "name"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('Webhook').item.json.body.data.fields[0].value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -160,
        176
      ],
      "id": "e49123de-a352-44bb-bb37-fbcc3cf5cf23",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "67k2Z19FIfFi6aiu",
          "name": "MySQL account zdalne"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://radosalwjaniak.webhook.office.com/webhookb2/93c80fca-e3ed-4401-a767-544a03d6f179@920c2aaa-735a-4c59-aeae-3e618167b4a4/IncomingWebhook/44c819c0a33e4b7fbc302cf96e052dd4/309cdfd8-1347-48e1-aebc-0cbd667ead25/V2TkW-y4Ht23YxlzYPg9bHhY1dRTXne3-bD-dPI15q-6Y1",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "==Nowy uczestnik: {{ $json.fullName || ($json[\"First name\"] || $json[\"First Name\"] || \"\") + \" \" + ($json[\"Last name\"] || $json[\"Last Name\"] || \"\") }} | Email: {{ $json.email || $json[\"Email\"] || \"—\" }} | Tel: {{ $json.phone || $json[\"Phone number\"] || $json[\"Phone\"] || \"—\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        176
      ],
      "id": "61d2daff-8008-4396-8c99-ba8db2410630",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:meeting_NzY3ZDEyZjQtOTk1YS00MTc4LTk5MGEtZmM4ZmEwYjU0YzMw@thread.v2",
          "mode": "list",
          "cachedResultName": "Automatyzacja workflow z n8n (meeting)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ameeting_NzY3ZDEyZjQtOTk1YS00MTc4LTk5MGEtZmM4ZmEwYjU0YzMw%40thread.v2/0?tenantId=f2320f09-c352-4af9-9056-f37ac205532c"
        },
        "message": "==Nowy uczestnik teams: {{ $json.fullName || ($json[\"First name\"] || $json[\"First Name\"] || \"\") + \" \" + ($json[\"Last name\"] || $json[\"Last Name\"] || \"\") }} | Email: {{ $json.email || $json[\"Email\"] || \"—\" }} | Tel: {{ $json.phone || $json[\"Phone number\"] || $json[\"Phone\"] || \"—\" }}",
        "options": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        48,
        -32
      ],
      "id": "1440870d-b612-4a89-a693-24ac0a240c74",
      "name": "Create chat message",
      "webhookId": "2414e532-362f-49a5-95af-84741cd796a3",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "mPktTvQKDzMHXOY7",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "operation": "getAll",
        "chatId": {
          "__rl": true,
          "value": "19:meeting_NzY3ZDEyZjQtOTk1YS00MTc4LTk5MGEtZmM4ZmEwYjU0YzMw@thread.v2",
          "mode": "list",
          "cachedResultName": "Automatyzacja workflow z n8n (meeting)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ameeting_NzY3ZDEyZjQtOTk1YS00MTc4LTk5MGEtZmM4ZmEwYjU0YzMw%40thread.v2/0?tenantId=f2320f09-c352-4af9-9056-f37ac205532c"
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        256,
        176
      ],
      "id": "6a72744c-92d3-4df3-bd35-034f54bebb40",
      "name": "Get many chat messages",
      "webhookId": "3a9c09b8-e041-4c5e-b72e-6d1b1ee563aa",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "mPktTvQKDzMHXOY7",
          "name": "Microsoft Teams account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get many chat messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9787daa-13bc-4a6a-b1f1-8a6488e1e633",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1abda7cbc926ee79baed789f59b664741e50dd6d0077bc94acec768895110088"
  },
  "id": "SM11ouTNCDoYr7O7",
  "tags": []
}