zaad9_teams_dane.json
{
  "name": "zaad9_teams_dane",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fff541c3-d6e0-46ed-861a-ffc3f0891528",
        "authentication": "basicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        96
      ],
      "id": "8414e9df-8392-48a4-8ebb-241e02e3846a",
      "name": "Webhook",
      "webhookId": "fff541c3-d6e0-46ed-861a-ffc3f0891528",
      "credentials": {
        "httpBasicAuth": {
          "id": "3iMdfqv7MUbN8Rts",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "automat@rajkonkret.pl",
        "toEmail": "rajkonkret660@gmail.com",
        "subject": "=Dane z formularza {{ $json.body.data.formName }}",
        "html": "=Dane użytkownika:<br>\n{{ $json.body.data.fields[0].label }}<br>\n{{ $json.body.data.fields[0].value }}<br>\n<br>\n{{ $json.body.data.fields[1].label }}<br>\n{{ $json.body.data.fields[1].value }}<br>\n<br>\nWiadomość:\n{{ $json.body.data.fields[4].value }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -304,
        -128
      ],
      "id": "d584ed71-5b56-4da6-aee3-6c26d5751aa9",
      "name": "Send email",
      "webhookId": "89ddbed1-7909-47d9-a59c-1afa1acb1071",
      "credentials": {
        "smtp": {
          "id": "rYUOpkUcA3G0lXue",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appubR6JXFrMXXSRs",
          "mode": "list",
          "cachedResultName": "airtable_contact_form.xlsx",
          "cachedResultUrl": "https://airtable.com/appubR6JXFrMXXSRs"
        },
        "table": {
          "__rl": true,
          "value": "tblYK7RlagT7OsKEm",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appubR6JXFrMXXSRs/tblYK7RlagT7OsKEm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Webhook').item.json.body.data.fields[0].value }}",
            "Last Name": "={{ $('Webhook').item.json.body.data.fields[1].value }}",
            "Phone Number": "={{ $('Webhook').item.json.body.data.fields[2].value }}",
            "Email": "={{ $('Webhook').item.json.body.data.fields[3].value }}",
            "Your Question": "={{ $('Webhook').item.json.body.data.fields[4].value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Your Question",
              "displayName": "Your Question",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -96,
        -112
      ],
      "id": "9196f777-03e4-4503-8c34-2cff7d658bc4",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "HL3KTSBIRUjAvYFm",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "UPFR9GC0H",
          "mode": "list",
          "cachedResultName": "rajkonkret660"
        },
        "text": "=Wiadomość wysłana z automatu:\n {{ $json.fields['Your Question'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        128,
        -96
      ],
      "id": "acb27aab-12ed-4aaa-b8db-5c7e46f5066d",
      "name": "Send a message",
      "webhookId": "05286326-2efa-420b-b9a1-f00596d370ee",
      "credentials": {
        "slackOAuth2Api": {
          "id": "7QUgVZ69mxlWV4IM",
          "name": "Slack account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:meeting_NzY3ZDEyZjQtOTk1YS00MTc4LTk5MGEtZmM4ZmEwYjU0YzMw@thread.v2",
          "mode": "list",
          "cachedResultName": "Automatyzacja workflow z n8n (meeting)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ameeting_NzY3ZDEyZjQtOTk1YS00MTc4LTk5MGEtZmM4ZmEwYjU0YzMw%40thread.v2/0?tenantId=f2320f09-c352-4af9-9056-f37ac205532c"
        },
        "message": "=test\n{{ $json.body.data.fields[0].value }}<br>\n{{ $json.body.data.fields[1].value }}<br<\n{{ $json.body.data.fields[4].value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -112,
        96
      ],
      "id": "2838f9ad-b953-4222-b5a3-ef1d02e2391b",
      "name": "Create chat message",
      "webhookId": "eafdb576-b621-4ffd-a09d-355bc7e6f771",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "mPktTvQKDzMHXOY7",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "users_n8n",
          "mode": "list",
          "cachedResultName": "users_n8n"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "=",
            "name_nowe": "={{ $('Webhook').item.json.body.data.fields[0].value }}",
            "uuid": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name_nowe",
              "displayName": "name_nowe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        96
      ],
      "id": "bf00263b-310e-448c-af50-ba137adc96f9",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "mfti707pzH8337CN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      id: $json.id ?? crypto.randomUUID(),\n      name: $json.name\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        96
      ],
      "id": "a00fd62b-f619-4dc5-86a8-1f85d68e0371",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Create chat message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9225f90-50f4-4611-b9d2-7e8b0ac1e88a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1abda7cbc926ee79baed789f59b664741e50dd6d0077bc94acec768895110088"
  },
  "id": "5Eb7P4OwKelsdUZx",
  "tags": []
}