zad13.json
{
  "name": "zad13",
  "nodes": [
    {
      "parameters": {
        "url": "https://justjoin.it/job-offers/all-locations/java",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        16
      ],
      "id": "59343ac3-4c0d-42bf-a491-d36bf6ca67f1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fromEmail": "automat@rajkonkret.pl",
        "toEmail": "rajkonkret660@gmail.com",
        "subject": "Liczba ofert pracy",
        "html": "=Liczba ofert pracy java: <br>\nDzień:    {{ $json.data }} <br>\nliczba: {{ $json.java }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        112,
        16
      ],
      "id": "3ca5acc6-3ef9-4979-b962-4ed2a605da90",
      "name": "Send email",
      "webhookId": "d0aa25e2-eea4-47e5-9f3d-68eb82d0f9d6",
      "credentials": {
        "smtp": {
          "id": "rYUOpkUcA3G0lXue",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function today(tz = 'Europe/Warsaw') {\n  const now = new Date(new Date().toLocaleString('en-US', { timeZone: tz }));\n  const y = now.getFullYear();\n  const m = String(now.getMonth() + 1).padStart(2, '0');\n  const d = String(now.getDate()).padStart(2, '0');\n  return `${y}-${m}-${d}`;\n}\n\n// Dane wejściowe dla tego jednego itemu\nconst json = (typeof $json === 'object' && $json) ? $json : {};\n\nconst raw = json.data ?? json.body ?? \"\";\nconst html = String(raw).replace(/\\\\\"/g, '\"');\n\nconst match = html.match(/\"count\"\\s*:\\s*(\\d+)/);\n\nif (match) {\n  return {\n    json: {\n      ...json,\n      data: today('Europe/Warsaw'),\n      java: Number(match[1])\n    }\n  };\n} else {\n  return {\n    json: {\n      ...json,\n      error: \"No match\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        16
      ],
      "id": "fa743504-ab2b-4769-b3b2-01b74b7bb659",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        16
      ],
      "id": "d36dc89a-04af-43c3-9ad2-6d85f1dfa643",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95b8ae17-fec0-412e-a960-0454d6e9d8d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1abda7cbc926ee79baed789f59b664741e50dd6d0077bc94acec768895110088"
  },
  "id": "KdfskRsRxp0SfNxn",
  "tags": []
}