zad1_step2.json
{
  "name": "zad1",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Dane",
        "formDescription": "testowy formularz",
        "formFields": {
          "values": [
            {
              "fieldLabel": "podaj email",
              "requiredField": true
            },
            {
              "fieldLabel": "Podaj cel kontaktu",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Zakup usług"
                  },
                  {
                    "option": "Reklamacja"
                  },
                  {
                    "option": "Test"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -464,
        48
      ],
      "id": "6a6e9418-320d-4341-9a22-f67e35c11dcf",
      "name": "On form submission",
      "webhookId": "ff566630-eb5c-4aaf-b39d-3e6b2873c878"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c787916-6185-4312-87ee-b681be2cd997",
              "leftValue": "={{ $json['Podaj cel kontaktu'] }}",
              "rightValue": "Test",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        48
      ],
      "id": "ea91bc49-785b-41fe-8acc-83b0638a8ac4",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -432
      ],
      "id": "0e0986ed-ed8d-4ec4-8d97-1d2e00a3d390",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1992080-8e16-46f1-a7c3-b7f6c0d402ce",
              "leftValue": "={{ $execution.mode }}",
              "rightValue": "test",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -320
      ],
      "id": "88a02c52-3e59-44a1-b582-fb86fdecfb5e",
      "name": "If1"
    },
    {
      "parameters": {
        "fromEmail": "automat@rajkonkret.pl",
        "toEmail": "rajkonkret660@gmail.com",
        "subject": "Ręczny",
        "html": "Ręczny",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        80,
        -672
      ],
      "id": "857df204-02b0-4d41-bf7b-128939c5f66a",
      "name": "Ręczny",
      "webhookId": "31e4b6e2-1885-4e2a-aa11-abe6b17b1935",
      "credentials": {
        "smtp": {
          "id": "rYUOpkUcA3G0lXue",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "automat@rajkonkret.pl",
        "toEmail": "rajkonkret660@gmail.com",
        "subject": "Czasowy",
        "html": "Czasowy Radek",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        80,
        -480
      ],
      "id": "067be7db-c908-467a-a6e7-1b0027496043",
      "name": "Czasowy",
      "webhookId": "31e4b6e2-1885-4e2a-aa11-abe6b17b1935",
      "credentials": {
        "smtp": {
          "id": "rYUOpkUcA3G0lXue",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        -208
      ],
      "id": "8f5a418f-7ff4-4edf-b1a9-db65dfb2adb5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fromEmail": "automat@rajkonkret.pl",
        "toEmail": "rajkonkret660@gmail.com",
        "subject": "Email testowy",
        "html": "Email Testowy",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        112,
        -224
      ],
      "id": "0344b954-5ae8-4fc5-bc86-1b3e41d652ec",
      "name": "testowy",
      "webhookId": "31e4b6e2-1885-4e2a-aa11-abe6b17b1935",
      "credentials": {
        "smtp": {
          "id": "rYUOpkUcA3G0lXue",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "automat@rajkonkret.pl",
        "toEmail": "rajkonkret660@gmail.com",
        "subject": "Nowy kontakt w sprawie",
        "html": "Klient wypełnił formularz kontaktowy\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        144,
        32
      ],
      "id": "0a227fe2-4766-44c6-a6d5-29a962ddae12",
      "name": "kontakt dla klienta",
      "webhookId": "31e4b6e2-1885-4e2a-aa11-abe6b17b1935",
      "credentials": {
        "smtp": {
          "id": "rYUOpkUcA3G0lXue",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        -592
      ],
      "id": "7f1d9c70-75be-423c-b2c3-45885343b566",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "testowy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "kontakt dla klienta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Ręczny",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Czasowy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kontakt dla klienta": {
      "main": [
        []
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "testowy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0fc4b59-46ce-4db0-bfe5-198c0b335b77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1abda7cbc926ee79baed789f59b664741e50dd6d0077bc94acec768895110088"
  },
  "id": "rv5yhW7KQI7SPL9Q",
  "tags": []
}