zad5_openwheather.json
{
  "name": "zad5_openwheather",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        64
      ],
      "id": "4e946c83-c292-47ad-b526-3815ab9c0d7a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "Sopot"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -384,
        64
      ],
      "id": "0f06a37a-37d3-4d0e-bd83-b8f571813ef1",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "xrh62eLJS2fuqv8D",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "automat@rajkonkret.pl",
        "toEmail": "rajkonkret660@gmail.com",
        "subject": "=pogoda {{ $json.name }}",
        "html": "=Pogoda dla:  {{ $json.name }} <br>\nTemperatura: {{ $json.main.temp }}<br>\nPogoda: {{ $json.weather[0].description }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -176,
        64
      ],
      "id": "421f4a7f-f029-4cd8-b26b-de82ff717080",
      "name": "Send email",
      "webhookId": "67231eed-1322-4873-a241-9cc51620ff5d",
      "credentials": {
        "smtp": {
          "id": "rYUOpkUcA3G0lXue",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7gwkOcmfBA6Mb4",
          "mode": "list",
          "cachedResultName": "airtable_weather.xlsx",
          "cachedResultUrl": "https://airtable.com/app7gwkOcmfBA6Mb4"
        },
        "table": {
          "__rl": true,
          "value": "tbllNbz05UCtpWap3",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/app7gwkOcmfBA6Mb4/tbllNbz05UCtpWap3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "City": "={{ $('OpenWeatherMap').item.json.name }}",
            "Temperature": "={{ $('OpenWeatherMap').item.json.main.temp }}",
            "Feels Like": 0,
            "Humidity": 0,
            "Wind Speed": 0,
            "Clouds": 0,
            "Timestamp": "={{ $json.Timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Temperature",
              "displayName": "Temperature",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feels Like",
              "displayName": "Feels Like",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Condition",
              "displayName": "Condition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Humidity",
              "displayName": "Humidity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wind Speed",
              "displayName": "Wind Speed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clouds",
              "displayName": "Clouds",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        256,
        64
      ],
      "id": "7990e078-2659-40b0-948a-9770cb808034",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "HL3KTSBIRUjAvYFm",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = items[0].json; // pobiera dane z poprzedniego node'a\n\nreturn [{\n  json: {\n    City: r.name || \"Unknown\",\n    Temperature: r.main?.temp,\n    Condition: r.weather?.[0]?.main,\n    Description: r.weather?.[0]?.description,\n    Humidity: r.main?.humidity,\n    \"Wind Speed\": r.wind?.speed,\n    Clouds: r.clouds?.all,\n    Timestamp: new Date().toISOString() // <<< tu dodajesz aktualny czas\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        64
      ],
      "id": "a08bd58a-0d90-4f5d-86a5-d5c76e9104f1",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41ef5f7e-b0b5-4044-8421-4783f9ad4843",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1abda7cbc926ee79baed789f59b664741e50dd6d0077bc94acec768895110088"
  },
  "id": "Bzxj2mavEYwNZFUM",
  "tags": []
}